<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
  <header>Customize!</header>
  <form action="" method="post" name="inputs" class="form-horizontal" style="margin-top:8px;">
      {{ form.hidden_tag() }}
      <div class="control-group">
          <label class="control-label">{{ form.head.label }}</label>
          <div class="controls">{{ form.head }}</div>
      </div>
      <div class="control-group">
	      <label class="control-label">{{ form.torso.label }}</label>
	      <div class="controls">{{ form.torso }}</div>
      </div>
      <div class="control-group">
	  <label class="control-label">{{ form.shoes.label }}</label>
	  <div class="controls">{{ form.shoes }}</div>
      </div>
      <p><input type="submit" value="Save Hero!!"></p>
  </form>
{% endblock %}
