<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Quest Log</h1>
    </header>
    <article>
    <h2 style="text-align:center">{{ user.full_name }}'s Quests!</h2>
    <div style="margin-left:auto;margin-right:auto;">
		<h3 style="text-align:center"><a href="/quests/add" class="btn">Add Quest</a></h3>
	</div>
    {% for quest in quest_objects %}
    <p style="text-align:center"><b>{{ quest.name }}</b></p>
    {% for task in quest.tasks %}
    <p style="text-align:center">{{ task.content }}</p>
    {% endfor %} 
    {% endfor %}
    </article>
{% endblock %}
